<div *ngIf="treeOfData?.item.length == 1">
    <div *ngFor="let item of treeOfData?.item">
        <organizational-card *ngIf="!item.isSelf" [employee]="item"></organizational-card>
        <organizational-card *ngIf="item.isSelf" class="self-card" [employee]="item"></organizational-card>
    </div>
    <div class="vertical"></div>
    <organizational-tree [treeOfData]="childrenTreeOfData" *ngIf="childrenTreeOfData"></organizational-tree>
</div>
<nz-divider *ngIf="treeOfData?.item.length > 1"></nz-divider>
<!-- TODO最后一行居中 -->
<div *ngIf="treeOfData?.item.length > 1" class="list-cards">
    <organizational-card *ngFor="let item of treeOfData?.item" class="item-card" [employee]="item"></organizational-card>
</div>